@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
  --radii: 0.5rem;
}

body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);
  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 27%, 96%);
  --colors-ui-base: hsl(0, 0%, 100%);
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
  overflow-y: scroll;

}

.light {
  background-image: url(./img/bg_image_light.jpg);
  border-radius: 2px;
}

.dark {
  background-image: url(./img/bg_image_dark.jpg);
  border-radius: 2px;
}
.switch {
  text-decoration: none;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 35px;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  background: hsl(0, 27%, 96%);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .5s;
  margin-left: 1270px;
  margin-top: -35px;
}
.switch_dark {
  text-decoration: none;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 35px;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  background: #344c5e;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .5s;
  margin-left: 1270px;
  margin-top: -35px;
}
.switch:hover {
  background: #7F47B4;
  box-shadow: 0 15px 20px rgba(48, 48, 47, 0.911);
  color: hsl(0, 0%, 100%);
  transform: translateY(-7px);
}
.switch_dark:hover {
  background: #7F47B4;
  box-shadow: 0 15px 20px rgba(48, 48, 47, 0.911);
  color: hsl(0, 0%, 100%);
  transform: translateY(-7px);
}
.logo_name {
  display: inline-block;
  margin-top: 35px;
  margin-left: -120px;
  font-size: 30px;
  font-weight: 900;
}
.border_link_country:hover {
  background: #7F47B4;
  box-shadow: 0 15px 20px rgba(48, 48, 47, 0.911);
  color: hsl(0, 0%, 100%);
  transform: translateY(-7px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .5s;
  border-radius: var(--radii);
}
button:hover {
  background: #7F47B4;
  box-shadow: 0 15px 20px rgba(48, 48, 47, 0.911);
  color: hsl(0, 0%, 100%);
  transform: translateY(-7px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  background: #7F47B4;
  box-shadow: 0 15px 20px rgba(48, 48, 47, 0.911);
  color: hsl(0, 0%, 100%);
  transform: translateY(-7px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .5s;
}
.logo_name:hover {
  color: hsl(0, 0%, 100%);
  transform: translateY(-7px);
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  transform: translateY(-7px);
  transition: .5s;
}
